.header {
    padding: 80px; /* dodaje odstęp */
    text-align: center; /* centruje tekst */
    background: #1abc9c; /* nadaje kolor tła */
    color: white; /* nadaje kolor tekstu */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* zmienia czcionkę na Verdana */
}
  
/* zwiększa rozmiar czcionki w headerze o wartości h1 */
.header h1 {
    font-size: 40px;
}

/* styl górnego "bara" */
.navbar {
    overflow: hidden; /* chowa overflow */
    background-color: #333; /* ciemne tło */
}
  
/* styl linkowania "bara" */
.navbar a {
    float: left; /* od lewej do prawej */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none; /* usuwa podkreślenie */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
/* przenoszenie ostatniego linku na prawo */
.navbar a.right {
    float: right; /* przenosi ostatni link na prawą stronę */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
/* zmiana koloru - "hover"  */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li a:hover {
    background-color: #1abc9c;
}

/* stylizowanie przycisku dropdown */
.dropbtn {
    background-color: #1abc9c;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    min-width: 108px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
/* kontener <div> i kontent znajdujący się w nim po najechaniu */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* kontent menu dropdown (niewidoczny przed najechaniem) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1; /* tło pojawiających się boxów */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* dodaje cień pod boxami (efekt 3D) */
    float: right;
}
  
/* linki znajdujące się w dropdown */
.dropdown-content a {
    color: black; /* kolor linku przed najechaniem */
    padding: 12px 16px;
    text-decoration: none; /* usuwa podkreślniki pod linkami */
    display: block;
    float: left;
}
  
/* zmiana koloru linków po najechaniu*/
.dropdown-content a:hover {
    background-color: #ddd;
}
  
  /* pokazuje menu po najechaniu */
.dropdown:hover .dropdown-content {
    display: block;
    }
  
/* zmienia kolor przycisku dropdown kiedy menu jest aktywne po najechaniu */
.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}