ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li a:hover {
    background-color: #ffbb00;
}

/* stylizowanie menu dropdown */
/* dopasowanie stylu menu dropdown - przycisku "About Me" */
.dropbtn {
    background-color: #333333;
    color: white;
    padding: 16px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    cursor: pointer;
}
  
  /* hover buttona i focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #ffbb00;
    border: none;
}
  
  /* klasa .dropdown używa position:relative, który ustawia kontent menu 
  bezpośrednio pod przyciskiem "About Me" */
.dropdown {
    position: relative;
    display: inline-block; /* display: inline-block zmienia kontent na blokowy, zamiast globalny */
}
  
  /* .dropdown-content odpowiada za główne menu, jest standardowo schowane i będzie wyświetlone
  dzięki funkcji hover */
    .dropdown-content {
    display: none; /* funkcja display: none ukrywa menu w standardzie */
    background-color: #f1f1f1;
    min-width: 160px; /* funkcja min-width odpowiada za minimalną szerokość bloku menu */
}
  
  /* styl linków */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none; /* usuwa podkreślenie linku */
    display: block; /* ustawia menu blokowo, jedno pod drugim */
    max-width: 76px;
}
  
  /* zmiana koloru linków na hover */
.dropdown-content a:hover {
    background-color: white /* podświetlenie po najechaniu */
} 
  
  /* pokazuje całe menu, potrzebny javascript */
.show {
    display:block;
}